.album{
    min-height: 50rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: #f7f7f7;
}
.card{
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    padding-left: 20px;
    width: 30%;
    height: auto;
    /*padding: .75rem;*/
    margin-bottom: 2rem;
    border: 1px solid #efefef;
    text-align: center;
    align-items: center;
    border-radius: 1.85rem!important;
}
.smallCard{
    float: left;
    width: 30%;
    margin-left: 600px;
    margin-bottom: 2rem;
    border: 1px solid #efefef;
    text-align: center;
    align-items: center;
    border-radius: 3.85rem!important;
    background: #282c34;
}
.smallCard > img {
    margin-bottom: .75rem;
    border-radius: 100px;
}
.card > img {
    margin-bottom: .75rem;
    border-radius: 100px;
}
.card-text {
    font-size: 85%
}