<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="component demo">
<!--    <div class="dropdown">-->
<!--        <button class="btn btn-outline-success dropdown-toggle"-->
<!--                data-toggle="dropdown">DropDown</button>-->
<!--        <a href="#" class="btn btn-outline-warning dropdown-toggle"-->
<!--           data-toggle="dropdown">DropDown2</a>-->
<!--        <div class="dropdown-menu"></div>-->
<!--        <div class="dropdown-header">Languages</div>-->
<!--        <a hre="#" class="dropdown-item">HTML</a>-->
<!--        <a hre="#" class="dropdown-item">CSS</a>-->
<!--        <a hre="#" class="dropdown-item">JavaScript</a>-->
<!--        <div class="dropdown-divider"></div>-->
<!--        <a hre="#" class="dropdown-item">More</a>-->
<!--    </div>-->
    <div class="dropdown">
        <button type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown">
            Dropdown button
        </button>
        <div class="dropdown-menu">
            <div class="dropdown-header">Languages</div>
            <a hre="#" class="dropdown-item">HTML</a>
            <a hre="#" class="dropdown-item">CSS</a>
            <a hre="#" class="dropdown-item">JavaScript</a>
            <div class="dropdown-divider"></div>
            <a hre="#" class="dropdown-item">More</a>
        </div>


<!--        <div class="dropdown-menu">-->
<!--            <a class="dropdown-item" href="#">Link 1</a>-->
<!--            <a class="dropdown-item" href="#">Link 2</a>-->
<!--            <a class="dropdown-item" href="#">Link 3</a>-->
<!--        </div>-->
    </div>

</div>

</body>
</html>